extends ../layout

block content
  .container
    h1 Wall of fame
    .row
      .col-xl-3.col-md-4.mb-4
        .card.mb-4.shadow-sm
          .card-body
            h3.card-title.pricing-card-title Juan Carlos Aguilar Rincon
            p
              a(href='/members/juan-carlos-aguilar-rincon') Check information
      <!-- .col-xl-3.col-md-4.mb-4*/ -->
        <!-- .card.mb-4.shadow-sm -->
          <!-- .card-body -->
            <!-- h3.card-title.pricing-card-title Put your full name here-->
            <!-- p -->
              <!-- a(href='/members/put-your-full-name-here') Check information -->
