extends layout

block content
  .container
    .row
      .px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
        h1.display-4 Github Travis Demo
        p.lead This is a demo for show how Github can integrate with another services (such as Travis and Heroku) in order to create a CI/CD pipeline.
  .container
    .card-deck.mb-3.text-center
      .card.mb-4.shadow-sm
        .card-header
          h4.my-0.font-weight-normal Github
        .card-body
          h1.card-title.pricing-card-title FREE
          ul.list-unstyled.mt-3.mb-4
            li Unlimited public repositories
            li A lot of possible integrations
            li Possibility to contribute to OSS
            li Try it now!
          a.btn.btn-lg.btn-block.btn-outline-primary(href='https://github.com') Go to Github
      .card.mb-4.shadow-sm
        .card-header
          h4.my-0.font-weight-normal Travis
        .card-body
          h1.card-title.pricing-card-title FREE
          ul.list-unstyled.mt-3.mb-4
            li Unlimited builds for OSS
            li A lot of possible integrations
            li Check code quality
            li Try it now!
          a.btn.btn-lg.btn-block.btn-outline-primary(href='https://travis-ci.com') Go to Travis
      .card.mb-4.shadow-sm
        .card-header
          h4.my-0.font-weight-normal Heroku
        .card-body
          h1.card-title.pricing-card-title FREE
          ul.list-unstyled.mt-3.mb-4
            li Possibility to host your app
            li Platform as a service solution
            li 550 free hours (It can be extend to 1000)
            li Try it now!
          a.btn.btn-lg.btn-block.btn-outline-primary(href='https://heroku.com') Go to Heroku
