doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/images/favicon.png')
    title Github Travis Demo App
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
  body.text-center
    .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
      h5.my-0.mr-md-auto.font-weight-normal Github Travis Demo
      nav.my-2.my-md-0.mr-md-3
        a.p-2.text-dark(href='#') Features
        a.p-2.text-dark(href='#') Enterprise
        a.p-2.text-dark(href='#') Support
        a.p-2.text-dark(href='#') Pricing
      a.btn.btn-outline-primary(href='#') Sign up
    .container
      .row
        .px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
          h1.display-4 Github Travis Demo
          p.lead This is a demo for show how Github can integrate with another services (such as Travis and Heroku) in order to create a CI/CD pipeline.
    .container
      .card-deck.mb-3.text-center
        .card.mb-4.shadow-sm
          .card-header
            h4.my-0.font-weight-normal Github
          .card-body
            h1.card-title.pricing-card-title FREE
            ul.list-unstyled.mt-3.mb-4
              li Unlimited public repositories
              li A lot of possible integrations
              li Possibility to contribute to OSS
              li Try it now!
            a.btn.btn-lg.btn-block.btn-outline-primary(href='https://github.com') Go to Github
        .card.mb-4.shadow-sm
          .card-header
            h4.my-0.font-weight-normal Travis
          .card-body
            h1.card-title.pricing-card-title FREE
            ul.list-unstyled.mt-3.mb-4
              li Unlimited builds for OSS
              li A lot of possible integrations
              li Check code quality
              li Try it now!
            a.btn.btn-lg.btn-block.btn-outline-primary(href='https://travis-ci.com') Go to Travis
        .card.mb-4.shadow-sm
          .card-header
            h4.my-0.font-weight-normal Heroku
          .card-body
            h1.card-title.pricing-card-title FREE
            ul.list-unstyled.mt-3.mb-4
              li Possibility to host your app
              li Platform as a service solution
              li 550 free hours (It can be extend to 1000)
              li Try it now!
            a.btn.btn-lg.btn-block.btn-outline-primary(href='https://heroku.com') Go to Heroku
      footer.pt-4.my-md-5-pt-md-5-border-top
        .row
          .col-12.col-md
            small.d-block.mb-3.text-muted 2020 Github Travis Demo App
